<!doctype html>
<html class="no-js" lang="en" dir="ltr"
	xmlns:th="http://www.thymeleaf.org"
	th:replace="projectmanager/base::layout(~{::section})">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="${title}"></title>
<link rel="stylesheet"
	th:href="@{/plugin/datatables/responsive.dataTables.min.css}">
<link rel="stylesheet"
	th:href="@{/plugin/datatables/dataTables.bootstrap5.min.css}">

<link rel="stylesheet" th:href="@{/css/timetracker.style.min.css}">
</head>
<body>

	<section>
		<div class="body d-flex py-lg-3 py-md-2">
			<div class="container-xxl">
				<div class="row align-items-center">
					<div class="border-0 mb-4">
						<div
							class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
							<h3 class="h4 mb-0">Task List</h3>
						</div>
					</div>
				</div>

				<!-- Row end  -->
				<div class="row clearfix g-3">
					<div class="col-sm-12">
						<div class="card mb-3">
							<div class="card-body">
								<table id="myProjectTable"
									class="table table-hover align-middle mb-0" style="width: 100%">
									<thead>
										<tr>
											<th>Task ID</th>
											<td>Task Name</td>
											<th>Task Description</th>
											<th>Task Start Date</th>
											
											<th>Status</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="allTasks:${allTasks}">
											<td th:text="${allTasks.taskId}"></td>
											<td th:text="${allTasks.taskName}"></td>
											<td th:text="${allTasks.description}"></td>
											<td th:text="${allTasks.startDate}"></td>
											
											<div th:if="${allTasks.status} == 'Pending'">
												<td><span class="badge bg-warning">Pending</span></td>
											</div>
											<div th:if="${allTasks.status} == 'Completed'">
												<td><span class="badge bg-success">Completed</span></td>
											</div>
											<td>
												<div class="btn-group" role="group"
													aria-label="Basic outlined example">
													<div th:if="${allTasks.assign_status} == 'Not Assign'">
														<a
															th:href="@{'/projectManager/assignTaskForm/'+${allTasks.taskId}}"
															class="btn btn-primary">Assign
															Task</a>
													</div>		
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								</br>
								<!-- <nav aria-label="Page navigation example">
									<ul class="pagination">
										<li th:if="${currentPage  != 0}" class="page-item"><a
											th:href="@{${currentPage-1}}" class="page-link" href="#">Previous</a>
										</li>
										<li th:each="number : ${#numbers.sequence(1,totalPages)}"
											th:classappend="${currentPage == number-1?'active':''}"
											class="page-item"><a th:href="@{${number-1}}"
											class="page-link" href="#"><span th:text="${number}"></span></a>
										</li>
										<li th:if="${currentPage + 1 != totalPages}" class="page-item">
											<a th:href="@{${currentPage+1}}" class="page-link" href="#">Next</a>
										</li>
									</ul>
								</nav> -->
							</div>
						</div>
					</div>
				</div>
				<!-- Row End -->
			</div>
		</div>


		<!-- Create Employee-->


	</section>

	<script src="../js/template.js"></script>
	<script>
		// project data table
		$(document).ready(function() {
			$('#myProjectTable').addClass('nowrap').dataTable({
				responsive : true,
				columnDefs : [ {
					targets : [ -1, -3 ],
					className : 'dt-body-right'
				} ]
			});
			$('.deleterow').on('click', function() {
				var tablename = $(this).closest('table').DataTable();
				tablename.row($(this).parents('tr')).remove().draw();

			});
		});
	</script>

	<script src="" th:src="@{js/script.js}"></script>
	<script th:src="@{js/bundles/libscripts.bundle.js}" src=""></script>
	<script th:src="@{js/bundles/apexcharts.bundle.js}" src=""></script>
	<script th:src="@{plugin/light-gallery/js/lightgallery.js}" src=""></script>

	<script th:src="@{js/bundles/dataTables.bundle.js}"></script>
	<script th:src="@{js/template.jss}" src=""></script>
	<script th:src="@{js/page/dashboard.js}" src=""></script>
</body>

<!-- Mirrored from www.pixelwibes.com/template/timetracker/html/dist/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Feb 2023 05:31:10 GMT -->
</html>
